/* -*-*-*-*-*-*-*-*-*-*-*- */
/* NAV */
/* -*-*-*-*-*-*-*-*-*-*-*- */

nav{
  display: flex;
  justify-content: space-around;
}

.tiny-button{
  height: 5vh;
  width: 30vw;
  border-radius: 45px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  user-select: none;
}


.tiny-button:nth-child(1){
  background: linear-gradient(180deg, rgba(255,175,189,1) 0%, rgba(255,195,160,1) 100%);
}

.tiny-button:nth-child(2){
  background: linear-gradient(180deg, rgba(109,213,237,1) 0%, rgba(33,147,176,1) 100%);
}

.tiny-button:nth-child(3){
  background: linear-gradient(180deg, rgba(255,195,160,1) 0%, rgba(255,175,189,1) 100%);
}

div.disabled{
  filter: saturate(0);
}

.tiny-button>span{
  font-weight: 900;
  font-size: 2vw;
}

/* -*-*-*-*-*-*-*-*-*-*-*- */
/* TIMER */
/* -*-*-*-*-*-*-*-*-*-*-*- */

.timer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bar{
  height: 2vh;
  width: 75vw;
  border: 1px solid #696969;
  border-radius: 45px;
  position: relative;
}

.fill{
  height: 2vh;
  width: 0;
  background-color: #696969;
  border-radius: 45px;

  position: absolute;
  transition: width 1.2s linear;
}

hr {
  width: 2vw;
  border-color: #696969;
}

.timer>p {
  color: #696969;
  font-size: 1.5vw;
  font-weight: 900;
  margin: 0;
}

/* -*-*-*-*-*-*-*-*-*-*-*- */
/* SONG CONTAINER */
/* -*-*-*-*-*-*-*-*-*-*-*- */

.song-container{
  display: flex;
  justify-content: space-around;
  gap:20px;
}

.song-card{
  height: 50vh;
  width: 18vw;
  border-radius: 45px;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  background-position: 50% 0;
}


.song-card>p{
  height: 3vh;
  width: 16vw;
  border-radius: 45px;
  background-color: rgba(209, 209, 209, 0.7);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1vw;
  font-weight: 900;
}

.song-card>p:nth-of-type(1){
  margin-top: 2vh;
}

.song-card>p:nth-of-type(2){
  margin-bottom: 2vh;
}

.song-card>.checkmark{
  position: absolute;
  height: 2vh;
  width: 2vh;
  border-radius: 45px;
  top: 50.5vh;
}

.incorrect{
  background-color: #ff6060;
}

.p-correct{
  background-color: #ffbf60;
}

.correct{
  background-color: #60ff60;
}

.inactive{
  background-color: #414141;
  border: 1px solid #696969;
}

/* -*-*-*-*-*-*-*-*-*-*-*- */
/* GUESS CONTAINER */
/* -*-*-*-*-*-*-*-*-*-*-*- */

.guess-container{
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guess-input{
  height: 3vh;
  width: 70vw;
  border-radius: 45px;
  background-color: white;
  padding-left: 1vw;
}

.guess-container>.button{
  height: 3vh;
  width: 5vw;
  border-radius: 45px;
  background-color: #696969;

  display: flex;
  justify-content: center;
  align-items: center;
}

.guess-container>.button>svg{
  height: 2vh;
}

.button:hover{
  filter: invert(0.8);
  cursor: pointer;
}


.play-button {
  border: none;
  background: none;
  cursor: pointer;
}

.play-button i {
  font-size: 2rem;
  color: #333;
}
