/* -*-*-*-*-*-*-*-*-*-*-*- */
/* PLAYER */
/* -*-*-*-*-*-*-*-*-*-*-*- */

app-audio-player{
  height: clamp(85%, 90%, 100%);
}

main{
  background-color: #414141;
  height: 85vh;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

