.Desktop{
  display: flex;
  gap: 2.5vw;
  align-items: center;
}

.DCard{
  min-width: 30vw;
  height: 30vw;
  border-radius: 45px;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: black;
}

.DCard:nth-of-type(1){
  background: linear-gradient(180deg, rgba(255,175,189,1) 0%, rgba(255,195,160,1) 100%);
}

.DCard:nth-of-type(2){
  background: linear-gradient(180deg, rgba(109,213,237,1) 0%, rgba(33,147,176,1) 100%);
}

.DCard:nth-of-type(3){
  background: linear-gradient(180deg, rgba(255,195,160,1) 0%, rgba(255,175,189,1) 100%);
}

.DCard .bottom{
  min-width: 26vw;
  max-width: 26vw;
  height: 5vw;

  background-color: white;
  border-radius: 45px;

  position: absolute;
  top: 24vw;
  left: 2vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.DCard>span{
  margin-bottom: 5vw;
  font-size: 5vw;
  font-family: Subway blck, serif;
  text-align: center;
}

.DCard .bottom span{
  font-size: 1.8vw;
  font-family: Subway blck, serif;
}

.hidden{
  display: none;
}
