<app-loading-page></app-loading-page>
<main>
  <div class="Desktop" [@fadeInOut]>
    <div class="DCard daily cursor-pointer transition-all hover:-translate-y-3.5" routerLink="/daily">
      <span class="font-weight-black">Heardle<br>du jour</span>
      <div class="bottom"><span>Une chanson, 5 essais...</span></div>
    </div>
    <div class="DCard theme cursor-pointer transition-all hover:-translate-y-3.5" routerLink="/themes">
      <span class="font-weight-black">Thème</span>
      <div class="bottom"><span>Choisis ton thème !</span></div>
    </div>
    <div class="DCard streak cursor-pointer transition-all hover:-translate-y-3.5">
      <span class="font-weight-black">Suite<br>du jour</span>
      <div class="bottom"><span>5 chansons d'affilées ?</span></div>
    </div>
  </div>
</main>
