/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
.ml-2 {
  margin-left: 8px !important;
}
.mr-2 {
  margin-right: 8px !important;
}

