@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "montserrat";
  src: url("assets/fonts/montserrat.regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "montserrat";
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.ml-2 {
  margin-left: 8px !important;
}

.mr-2 {
  margin-right: 8px !important;
}

main {
  min-height: 90vh;
  max-height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #2f2f2f;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}