<nav>
    <div class="menuBtn cursor-pointer" routerLink="/daily">
        <img src="assets/img/icon/Calendar.svg" alt="" class="icon">
        <h2>Daily</h2>
    </div>
    <div class="menuBtn cursor-pointer" routerLink="/themes">
        <img src="assets/img/icon/List.svg" alt="" class="icon">
        <h2>Themes</h2>
    </div>
    <div class="menuBtn cursor-pointer" routerLink="/streak">
        <img src="assets/img/icon/Flame.svg" alt="" class="icon">
        <h2>Streak</h2>
    </div>
</nav>