/*HEADER*/
@font-face {
  font-family: "montserrat";
  /* TODO Trouver le chemin absolu */
  src: url("../../../../assets/fonts/montserrat.regular.ttf");
}


* {
  font-family: "montserrat" !important;
}

header {
  background: #2f2f2f;
  filter: blur(0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

header .logo {
  height: 9vh;
  margin: 0 5vw;
  display: flex;
  align-items: center;
}

header div:not(header div:nth-of-type(2)) {
  width: 20vw;
}

header img {
  height: 100%;
  width: fit-content;
  margin-right: 15px;
}

header h1 {
  font-size: 4vh;
  color: #d9d9d9;
  white-space: nowrap;
}